*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

  /* Primary accent (Italian red) */
  --accent: #c0392b;
  --bg-main: #f6f3ee;
  --menu-card: #ffffff;
  /* Dark text */
  --text-dark: #2c2c2c;

  /* Light background */
  --bg-light: #faf7f2;

  /* Section background */
  --bg-section: #ffffff;

  /* Gold accent (luxury feel) */
  --gold: #d4a373;

}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
    font-size: 36px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

header nav button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
}

.hero {
    height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("./resources/images/restau.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;

}

.hero-buttons {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.hero button {
    background-color: transparent;
    padding: 12px 24px;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-container {
    min-height: 100vh;
    padding: 6em 10em;
    background-color: var(--bg-main);
}

.menu-container .title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 3em;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 3em;
}

.menu-item {
    display: flex;
    background-color: var(--menu-card);
    border-radius: 2em;
}

.menu-item img {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-bottom-left-radius: 1.8em;
    border-top-left-radius: 1.8em;
}

.menu-info {
    display: flex;
    flex-direction: column;
    padding: 1.6em;
}

.menu-info .name {
    font-size: 1.4em;
}

.menu-info .price {
    margin-top: auto;
    align-self: flex-end;
    font-weight: bold;
}

.menu-info .price span {
    color: var(--accent);
    font-weight: bold;
    font-size: 1.1em;
}

